<!DOCTYPE html>
<html>
    <head>
        <title>Research Project</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/bower.json"></script>
        <script src="https://cdn.jsdelivr.net/underscorejs/1.8.3/underscore-min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
        {%block script%}
        {%endblock script%}
    </head>
    <body>
        {%block content%}
        {%endblock content%}
    </body>
    
    {%block scripts%}
    {%endblock scripts%}
</html>>